body {
background-image: url('https://images.pexels.com/photos/876467/pexels-photo-876467.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
table, th, td {
border: 3px solid black;
border-collapse: collapse;
text-align: center;
}
th, td {
padding: 10px;
}

