
body {
background-image: url('https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}
h1{
  font-family: Courier;
  text-align: center;
  color: pink;
}

 ul li:before {
    content: "\2665 020";
    color: #9c5597;
}

p {
text-align: left;
}
