body {
color: light grey;
}
div {
  display: block;
}
h1{
  text-align: center;
  background-color: grey;
}
h2{ 
text-align: left;
}
h3{
  text-align: right;
}
p.a {
text-align: left;
}
p.b {
  text-align: right;
}
