
body {
background-image: url('https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?auto=compress&cs=tinysrgb&w=1200');
color: #5C4033;
font-family: Courier;
}

h1{
  text-align: center;
  font-size: 70px;
}

ul {
  padding-left= 0;
  list-style-type: "\2665";
  margin-right: 10px;
  font-size: 20px;
}


