body {

  font-family: New Times Roman;
  padding: 20px;
}

h1{
  font-size: 30px;
}
hr{ width: 90%;
   height: 3px;
   background-color: black;
   text-align: left
   border: none;
   margin: 20px auto;
}
